#search
	#form
		form(method="get", action="xml/one.json")#search-form
			input(type="text", name="address")
			input(type="text", name="zip")
			input(type="text", name="city")
			input(type="submit")
	#map
