!!!
html
  head
    title= title
    script(type="text/javascript", src="http://code.jquery.com/jquery.min.js")
    script(type="text/javascript", src="http://malsup.github.com/jquery.form.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?sensor=false")
    script(type="text/javascript", src="javascripts/main.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
